{% extends 'content/base.html' %}
{%  block details %}
<div class="mt-5">
    <h1 class="text-warning  text-center mb-5 border-bottom">SERVICES</h1>
    <div class="row text-dark text-center">
        <div class="col-sm-4">
              <i class="fab fa-instalod fa-3x i1-color"></i>
              <h2>Drive</h2>
            <p class="text-justify">we are generally produce the product in the drive</p>

        </div>
        <div class="col-sm-4">
              <i class="fab fa-github fa-3x"></i>
              <h2>Github</h2>
            <p class="text-justify">accordingly project on github</p>

        </div>
        <div class="col-sm-4">
              <i class="fab fa-docker fa-3x i2-color"></i>
              <h2>Dockers</h2>
            <p class="text-justify">it is a briliant files .please go through it</p>

        </div>

    </div>
    <div class="row text-dark text-center mt-3">
        <div class="col-sm-4">
              <i class="fas fa-broadcast-tower fa-3x i3-color"></i>
              <h2>Tower</h2>
            <p class="text-justify">it is vastly know for something which is a tower. so it is very confused</p>

        </div>
        <div class="col-sm-4">
              <i class="fas fa-user-shield fa-3x i4-color"></i>
              <h2>Defender</h2>
            <p class="text-justify">it is a window defender .please use do respectively</p>

        </div>
        <div class="col-sm-4">
              <i class="fas fa-handshake fa-3x i5-color"></i>
              <h2>Hand Delivery</h2>
            <p class="text-justify">it our promise that we deliver the product on time</p>

        </div>

    </div>
    <div class="row text-dark text-center mt-3">
        <div class="col-sm-4">
              <i class="fab fa-jenkins fa-3x i6-color"></i>
              <h2>Jenkins</h2>
            <p class="text-justify">it is very much useful. jenkins is a vast area</p>

        </div>
        <div class="col-sm-4">
              <i class="fas fa-headphones fa-3x i7-color"></i>
              <h2>Speak Training</h2>
            <p class="text-justify">it is for talking and expressing your self platform. please go ahed</p>

        </div>
        <div class="col-sm-4">
              <i class="fab fa-product-hunt fa-3x i8-color"></i>
              <h2>Product</h2>
            <p class="text-justify">it is a product based company</p>

        </div>

    </div>

</div>

{%  endblock details %}