{% extends 'content/base.html' %}
{%  block details %}

<div class="'container">
    <h1 class="text-warning  text-center mb-5 border-bottom">ACHIVEMENTS</h1>
    <div class="row">
            <div class="col-sm-6">
                <h2 >CERTIFIFIED</h2>
                 <img class="mt-2"src="https://th.bing.com/th/id/OIP.pginnfgsyrZQaxlMqP3WagHaHa?pid=ImgDet&w=625&h=625&rs=1" height="40" width="40">
                  Solving Software with java
                <h3></h3>
                 <img  class="mt-2" src="https://th.bing.com/th/id/OIP.pginnfgsyrZQaxlMqP3WagHaHa?pid=ImgDet&w=625&h=625&rs=1" height="40" width="40">
                  algoritmic toolbox
                <h4></h4>
                 <img  class="mt-2" src="https://th.bing.com/th/id/OIP.pginnfgsyrZQaxlMqP3WagHaHa?pid=ImgDet&w=625&h=625&rs=1" height="40" width="40">
                  python with data structure
                <h5></h5>
                 <img  class="mt-2" src="https://th.bing.com/th/id/OIP.pginnfgsyrZQaxlMqP3WagHaHa?pid=ImgDet&w=625&h=625&rs=1" height="40" width="40">
                   introduction to HTML 5
                <h6></h6>
                 <img  class="mt-2" src="https://th.bing.com/th/id/OIP.pginnfgsyrZQaxlMqP3WagHaHa?pid=ImgDet&w=625&h=625&rs=1" height="40" width="40">
                  ethics in engineering

            </div>
            <div class="col-sm-6">
                <h2 >ONLINE PLATFORM</h2>
                 <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/HackerRank_logo.png" height="40" width="40">
                  Hakkerrank
                  <i class="fas fa-star mx-2 "></i>
                  <i class="fas fa-star mx-2 "></i>
                  <i class="fas fa-star mx-2 "></i>
                  <i class="fas fa-star mx-2 "></i>
                  <i class="fas fa-star mx-2 "></i>
                <h3></h3>
                 <img   src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/HackerEarth_logo.png/220px-HackerEarth_logo.png" height="40" width="40">
                  Hakerearth
                  <i class="fas fa-star mx-2 "></i>
                  <i class="fas fa-star mx-2 "></i>
                  <i class="fas fa-star mx-2 "></i>
                <h4></h4>
                 <img  class="mt-3" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7b/Codechef(new)_logo.svg/1200px-Codechef(new)_logo.svg.png" height="40" width="40">
                  Codecheff
                  <i class="fas fa-star mx-2 "></i>
                  <i class="fas fa-star mx-2 "></i>
                  <i class="fas fa-star mx-2 "></i>
                  <i class="fas fa-star mx-2 "></i>
                <h5></h5>
                 <img  class="mt-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Codeforces_logo.svg/1200px-Codeforces_logo.svg.png" height="40" width="40">
                   Codeforces
                  <i class="fas fa-star mx-2 "></i>
                  <i class="fas fa-star mx-2 "></i>

            </div>
     </div>
</div>
{%  endblock details %}