{% extends 'content/base.html' %}
{%  block details %}
 <div class="mt-5">
   <h1 class="text-warning  text-center mb-5 border-bottom">Contact Us</h1>
     <div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
</div>
     <form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
     <footer class="bg-transparent text-center text-white">
  <!-- Grid container -->
  <div class="container p-5">
    <!-- Section: Social media -->
    <section class="mb-5">
      <!-- Facebook -->
        <a href="https://www.bing.com/search?q=facebook&form=ANNTH1&refig=71ae009bd23d46f3b6d3bc8b05be4235"><img src="https://www.freepngimg.com/thumb/social_media/73932-network-media-influencer-facebook-marketing-icon-badge.png"  width="30"></a>

      <!-- Twitter -->
        <a href="https://www.bing.com/search?q=twiter&form=ANNTH1&refig=1b509650820b430eab841cc44b86a082"><img src="https://th.bing.com/th/id/R.378f8d0e6a1f813408cb197f76ff5905?rik=qFCqXx9pIV0Olg&riu=http%3a%2f%2ficons.iconarchive.com%2ficons%2fampeross%2fsmooth%2f512%2fTwitter-icon.png&ehk=6RpELAirt9UnFZ7kuRmyEh28PMVhgijsMo83oJW39ws%3d&risl=&pid=ImgRaw" width = "30"></a>

      <!-- Google -->
      <a href="https://www.bing.com/search?q=google&qs=SS&pq=go&sk=HS2&sc=6-2&cvid=A759908C4D354065B47D8BEF8B43C0B3&FORM=QBRE&sp=3"><img src="https://image.flaticon.com/icons/png/512/270/270014.png" width = "30"></a>

      <!-- Instagram -->
      <a href="https://www.bing.com/search?q=instagram+login&form=ANNTH1&refig=7adaea9704f44b5f822ec237a4e6b9df&sp=1&qs=AS&pq=instagram+&sk=PRES1&sc=8-10&cvid=7adaea9704f44b5f822ec237a4e6b9df"><img src="https://cfcdnpull-creativefreedoml.netdna-ssl.com/wp-content/uploads/2017/06/Instagram_logo_2016.svg_.png" width = "30"></a>

      <!-- Linkedin -->
      <a href="https://www.bing.com/search?q=linkedin+login&form=ANNTH1&refig=3341317127f24aa097e1591f4a038595&sp=2&qs=AS&pq=linked&sk=PRES1AS1&sc=8-6&cvid=3341317127f24aa097e1591f4a038595"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/1200px-Linkedin.svg.png" width = "30"></a>

      <!-- Github -->
      <a href="https://www.bing.com/search?q=github+login&cvid=e8c0d241cb2d4ed19907634bdc747f7c&aqs=edge.3.0l2j69i57j0j69i60l3.5718j0j1&pglt=2083&FORM=ANNTA1&PC=U531"><img src="https://cdn.onlinewebfonts.com/svg/img_44605.png" width = "30"></a>
    </section>








  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 copyright
    <a class="text-white" href="https://mdbootstrap.com/">Dstudio</a>
  </div>
  <!-- Copyright -->
</footer>
 </div>
{%  endblock details %}