{% extends 'content/base.html' %}
{% load static %}
{%  block details %}
<div class="text-center">
    <img src="{% static 'content/images/profile.jpg' %}" alt="Profilepic" class="'img-thumbnail" width="250px" height="'150px">
    <div class="text-center">
        <h1 class="font-bold text-warning">INTRO</h1>
    </div>

</div>
<div class="font-italic " >
        Hello,
</div>
<div class="mx-2 text-justify">
    <p>Maybe you’ve mentioned certain things in your introduction that your audience will grow curious about as they go on reading your piece. It could be an unusual trait or hobby that people don’t talk about often, or probably the surface of a story that you have so much more to tell. To answer questions your readers may have, it would be best to include a brief explanation for each. Be sure to express your own thoughts as if you’re telling the story to a friend. It must include every necessary detail that readers should know about along with the reasons behind it. You can limit your explanation to a mere one to two sentences for better understanding. You may also see report writings.</p>
    <p>Examples logo
Home/Education/Writing/
Tips in Poetry Writing with Examples (PDF)
Poetry is a form of art that predates literacy. It is often closely related to musical tradition as it was believed that the first form of poetry was recited or sung. The earliest poetry existed in forms of hymns and chants. In this sense, poetry is a verbal art recorded from the ancient world in the forms of prayers or stories about religious subject matter, but they also include historical accounts, instructions for everyday activities, love songs and fiction. It was done in such way to help remember oral history, genealogy, and law. You may also see free</p>
</div>
<div  >
    <div class="text-center">
         <a href="http://127.0.0.1:8000/ct/contactu/"class="btn btn-outline-danger my-3 mr-5">Hire Me</a>
         <a href="http://127.0.0.1:8000/ct/contactu/"class="btn btn-outline-info my-3">Contact Me</a>
    </div>

</div>

{%  endblock details %}