/*icon-color*/
.i1-color{
   color: #3DCE65;
}

.i2-color{
   color: blue;
}
.i3-color{
   color: #4B0082;
}
.i4-color{
   color: #808080;
}
.i5-color{
   color:#FFDEAD;
}
.i6-color{
   color:#A52A2A;
}
.i7-color{
   color: #7FFFD4;
}
.i8-color{
   color:#ADFF2F;
}
