{% extends 'content/base.html' %}
{%  block details %}
<div class="mt-5">
    <h1 class="text-warning  text-center mb-5 border-bottom">EDUCATION</h1>
    <div>
        <h1>SECONDARY EDUCATION</h1>
        <div class="row">
            <div class="'col-sm-6">
                <h2 class="text-warning">BARASAT PCS GOVT HIGH SCHO0L</h2>
                <h2>math physical sc biology history geography  bengali english</h2>
                <h2 class="text-info">overall percentage 87.42%<h2>
            </div>
        </div>
    </div>
     <div class="mt-4">
        <h1> HIGHER SECONDARY EDUCATION</h1>
        <div class="row">
            <div class="'col-sm-6">
                <h2 class="text-warning">BARASAT PCS GOVT HIGH SCHO0L</h2>
                <h2>physics chemistry biology math  bengali english</h2>
                <h2 class="text-info">overall percentage 86 %<h2>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <h1> BACHELOR OF TECHNOLOGY</h1>
        <div class="row">
            <div class="'col-sm-6">
                <h2 class="text-warning">TECHNO INTERNATIONAL NEWTOWN</h2>
                <h2>computer science enginnering</h2>
                <h2 class="text-info">overall percentage 9.2 CGPA<h2>
            </div>
        </div>
    </div>

</div>
{%  endblock details %}